{% extends "base.html" %}

{% block body_class %}index-page{% endblock %} <!-- Add page-specific class -->

{% block content %}
<!-- Main container -->
<div class="main-container">

    <!-- Hero Section -->
    <div class="hero-section">
        <img src="{{ url_for('static', filename='images/hero-image.jpg') }}" alt="PhantomsXI Banner" class="hero-img">
    </div>

    <!-- Past Seasons Section -->
    <div class="previous-seasons">
        <h2 class="section-heading">OUR PAST SEASONS</h2>
        <div class="season-container">
            {% set seasons = [
                ("Indoor.jpg", "2024 Indoor", "https://cricclubs.com/empirestatecricketleague/teamResults.do?teamId=316&clubId=22424"),
                ("Tapeball.jpg", "2024 Tape Ball", "https://cricclubs.com/empirestatecricketleague/teamResults.do?teamId=340&clubId=22424"),
                ("T10Tennisball.jpg", "2024 Summer T10", "https://cricclubs.com/empirestatecricketleague/teamResults.do?teamId=361&clubId=22424"),
                ("T10Hardball.jpg", "2024 Hardball T10", "https://cricclubs.com/empirestatecricketleague/teamResults.do?teamId=380&league=24&clubId=22424"),
                ("T20Tennisball.jpg", "2024 Tennisball T20", "https://cricclubs.com/empirestatecricketleague/teamResults.do?teamId=414&clubId=22424"),
                ("T20Hardball.jpg", "2024 HardBall T20", "https://cricclubs.com/empirestatecricketleague/teamResults.do?teamId=424&clubId=22424"),
                ("T10Tennisball.jpg", "2024 Fall T10", "https://cricclubs.com/empirestatecricketleague/teamResults.do?teamId=461&clubId=22424")
            ] %}

            {% for image, title, link in seasons %}
            <div class="season-card">
                <a href="{{ link }}" class="season-link">
                    <img src="{{ url_for('static', filename='images/' + image) }}" alt="{{ title }}">
                    <div class="overlay"><span>{{ title }}</span></div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
